{% extends 'CRTravelBundle:layout:layout.html.twig' %}

{% block title %}
Partner edit
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2">
            <a href="{{ path('partner_index') }}" class="btn btn-warning btn-circle"><i class="fa fa-arrow-left"></i></a>
        </div>
        <div class="col-10">
            <h1>Partner edit</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit"  class="btn btn-outline-warning"/>
            {{ form_end(edit_form) }}
        </div>
    </div>

{% endblock %}